:root{
    --brand-color:var(#fff)
    width: 1440px;
    height: 2592px; 
}

*{
    box-sizing: border-box;
}

.container{
    width: 1158px;
}

.menu{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}


.item{
    flex-direction: row;
}

.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1440px;
    height: 72px;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 156px;
    margin-block-end: 76px;
}

.logo-decoration{
    color:#2e2f42;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.link-design{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-design:hover,
.link-design:focus{
    color:#404bbf;
}

.address-design{
    font-style: normal;
}

.contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact:hover,
.contact:focus{
    color: #404bbf;
}


body{
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

.title-background{
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
}

.title{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 188px 472px 292px 472px;
}

.button{
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin: 48px 635px 188px 636px;
    border-radius: 4px;
}

.button:hover,
.button:focus{
    background-color:  #404BBF;
    cursor: pointer;
}


.characteristics{
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    color:  #2e2f42;
}

.paragraph{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.header{
    font-size:36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-team{
    background-color: #F4F4FD;
}

.section-team-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team{
    background-color: #FFFFFF;
}

.filter-button{
    background-color:#F4F4FD;
    font-family: inherit;
    cursor: pointer;
    color: #4D5AE5;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.item-button{
    flex-direction: row;
    justify-content: center;
}


.filter-button:hover,
.filter-button:focus{
    background-color:#404BBF;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
}

.footer-background{
    background-color: #2e2f42;
}

.logo-decorations{
    color:#f4f4fd;
}

.footer-paragraph{
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
}